*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    background-image:url('/bgimg_starry.jpg');
    background-size: cover;
}
.background{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.nav_style{
    background-color: transparent;
    width: 100%;
}
.active  {
    border-bottom: 5px solid #dc83ee;
  }
.navbar-brand{
    margin-left: 2rem;
}
ul a{
    margin-left: 6rem;
}
.heading{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.button_res{
    top: 65%;
    left: 50%;
    width: 200px;
    position: absolute;
    transform: translate(-50%,-50%);
}
