*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    background-image:url('/images/bgimg_starry.jpg');
    background-size: cover;
    /* height: 100vh; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.background{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.nav_style{
    background-color: #142132;
    width: 100%;
}
.active  {
    border-bottom: 5px solid #dc83ee;
  }
.navbar-brand{
    margin-left: 2rem;
}
ul a{
    margin-left: 6rem;
}

.addsys_btn{
    top: 50%;
    left: 40%;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    transform: translate(-20%,-20%);
}
.addsys_btn:hover{
    background-color: #fff; /* Change background color on hover */
  color: #000; /* Change text color on hover */
}
.del_btn{
    top: 50%;
    left: 55%;
}

.footer {
    background-color: #142132; /* Choose your preferred background color */
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom of the page */
}
.container a{
    margin-left: 2rem;
}
/* .container a:hover{
    box-shadow: 0 0 10px #dc83ee;
} */
i{
    transition: transform 0.3s ease;
}
i:hover {
    transform: scale(1.2); /* Zoom in to 120% of original size */
}

form{
    font-size: 1.2rem;
    text-align: center;
    margin: 50px auto;
    background:  #142132; ;
    width: 40%;
    padding: 40px;
    height: 100%;
    border-radius: 5%;
    color: #fff;
}

#containForm {
    margin-top: auto;
    align-items: center;
    display: flex;
    gap: 10px;
}