*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    background-image:url('/images/bgimg_starry.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.background{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.navbar{
    /* padding: 1.2rem 0; */
}
.margin-added{
    margin-left: 12rem;
}
.search-bar{
    margin: 10px;
    margin-left: 8rem;
}
.nav_style{
    background-color: #142132;
    width: 100%;
}
.active  {
    border-bottom: 5px solid #dc83ee;
  }
.navbar-brand{
    margin-left: 2rem;
}
ul a{
    margin-left: 6rem;
}
.heading{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.button_res{
    top: 65%;
    left: 50%;
    width: 200px;
    position: absolute;
    transform: translate(-50%,-50%);
}
.footer {
    background-color:#142132; /* Choose your preferred background color */
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom of the page */
}
.container a{
    margin-left: 2rem;
}
/* .container a:hover{
    box-shadow: 0 0 10px #dc83ee;
} */
i{
    transition: transform 0.3s ease;
}
i:hover {
    transform: scale(1.2); /* Zoom in to 120% of original size */
}